
DEBUG = True
CSRF_ENABLED = True
BASE_URL = ""
MAIL_PASSWORD = ""
MAIL_USERNAME = ""
DOMAIN = ""
PORT = ""
LOCAL = True


MONGOALCHEMY_DATABASE = ""
MONGOALCHEMY_CONNECTION_STRING = "://:@:"


JWT_SECRET_KEY = ""
