
DEBUG = True
CSRF_ENABLED = True
BASE_URL = ""
MAIL_PASSWORD = ""
MAIL_USERNAME = ""
DOMAIN = ""
PORT = ""
LOCAL = True


MONGODB_DB = "testDB"
MONGODB_URI = "mongodb://username:password@localhost:27010/testDB?authSource=admin"


JWT_SECRET_KEY = ""
